<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Create</title>
    </head>
    <body>
        <h1>Создание статьи</h1>
        <p><a href="{% url 'webapp:index' %}">На главную</a></p>
        <form action="{% url 'webapp:article_create' %}" method="post">
            {% csrf_token %}
            <label>Заголовок:</label><br/>
            <input type="text" name="title"/><br/>

            <label>Текст:</label><br/>
            <textarea name="text"></textarea><br/>

            <label>Автор:</label><br/>
            <input type="text" name="author"/><br/>

            <label for="id-status">Статус:</label><br>
            <select name="status" id="id-status">
                {% for value, label in status_choices %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select><br>

            <br/>
            <input type="submit" value="Send"/>
        </form>
    </body>
</html>