{% extends 'base.html' %}

{% block title %}Обновление{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:article_view' article.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Обновить статью</h1>

    <form action="{% url "webapp:article_update" article.pk %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% include 'partial/form_field.html' %}
        {% endfor %}

        <br/>
        <input type="submit" value="Send"/>
    </form>
{% endblock %}