{% extends 'base.html' %}
{% block title %}Просмотр{% endblock %}
{% block menu %}
    <li><a href="{% url 'webapp:article_update' article.pk %}">Обновить статью</a></li>
    <li><a href="{% url 'webapp:article_delete' article.pk %}">Удалить статью</a></li>
{% endblock %}
{% block content %}
    <div class="box">
        <h2><strong>{{ article.title }}</strong></h2>
        <p class="pre">{{ article.text }}</p>
        <p>От: <em>{{ article.author }} | {{ article.created_at }}</em></p>
        <p>Время публикации: {{ article.publish_at|date:"d.m.Y H:i:s" }}</p>
        <p>Теги: {% for tag in article.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

        <h3>Комментарий:</h3>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% for comment in comments %}
            <div>
                <h4>{{ comment.author }} ({{ comment.created_at }})</h4>
                <div class="pre">{{ comment.text }}</div>
            </div>
        {% empty %}
            <p>Нет комментариев</p>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}
