{% extends 'base.html' %}
{% block title %}Просмотр{% endblock %}
{% block menu %}
    <li><a href="{% url 'webapp:article_update' article.pk %}">Обновить статью</a></li>
    <li><a href="{% url 'webapp:article_delete' article.pk %}">Удалить статью</a></li>
{% endblock %}
{% block content %}
    <div class="container">
        <h2><strong>{{ article.title }}</strong></h2>
        <p>{{ article.text }}</p>
        <p>By: <em>{{ article.author }} | {{ article.created_at }}</em></p>
    </div>
{% endblock %}
